<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nexacro.adaptor.employee.mapper.EmployeeMapper">
    <resultMap id="employeeResultMap" type="employee">
        <id property="id" column="id" />
        <result property="departmentId" column="department_id" />
        <association property="department" column="department_id" select="findDepartmentById" />
        <collection property="educations" column="id" select="findEducationByEmployeeId" />
    </resultMap>
    <resultMap id="employeeResultCamelmap" type="camelmap">
        <id property="id" column="id" />
        <result property="departmentId" column="department_id" />
        <association property="department" column="department_id" select="findDepartmentById" />
        <collection property="educations" column="id" select="findEducationByEmployeeId" />
    </resultMap>

    <!-- 사원조회 -->
    <sql id="selectEmployee">
        SELECT ID
             , EMPLOYEE_NAME
             , SALARY
             , HIRE_DATE
             , MARRIED
             , EMAIL
             , FILE_BUCKET_ID
             , BACK_NUMBER
             , DEPARTMENT_ID
             , CRE_USER as CREATED_BY
             , CRE_DATE as CREATED_DATE
          FROM EMPLOYEE
         WHERE ID = #{id}
    </sql>
    <select id="findById" parameterType="string" resultMap="employeeResultMap">
        <include refid="selectEmployee" />
    </select>
    <select id="findMapById" parameterType="string" resultMap="employeeResultCamelmap">
        <include refid="selectEmployee" />
    </select>

    <!-- 부서조회 -->
    <sql id="selectDepartment">
        SELECT ID
             , NAME
             , LOCATION
          FROM DEPARTMENT
         WHERE ID = #{id}
    </sql>
    <select id="findDepartmentById" parameterType="string" resultType="department">
        <include refid="selectDepartment" />
    </select>
    <select id="findDepartmentMapById" parameterType="string" resultType="camelmap">
        <include refid="selectDepartment" />
    </select>

    <!-- 학력 조회 -->
    <sql id="selectEducation">
        SELECT ID
             , EMPLOYEE_ID
             , SCHOOL_NAME
             , GRADUATION_YEAR
             , GRADUATION_TYPE
             , GRADES
          FROM EDUCATION
         WHERE EMPLOYEE_ID = #{employeeId}
    </sql>
    <select id="findEducationByEmployeeId" parameterType="string" resultType="education">
        <include refid="selectEducation" />
    </select>
    <select id="findEducationMapByEmployeeId" parameterType="string" resultType="camelmap">
        <include refid="selectEducation" />
    </select>
</mapper>