<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.mybatis.mapper.h2.PersistenceMybatisMapper">
    <select id="selectAll" parameterType="persistence.mybatis.dto.LaptopReq" resultType="persistence.mybatis.entity.Laptop">
        <include refid="select"></include>
    </select>
    <select id="selectPageList" parameterType="persistence.mybatis.dto.LaptopReq" resultType="persistence.mybatis.entity.Laptop">
        <include refid="select"></include>
    </select>
    <select id="selectPage" parameterType="persistence.mybatis.dto.LaptopReq" resultType="persistence.mybatis.entity.Laptop">
        <include refid="select"></include>
    </select>
    <sql id="select">
        SELECT ID
             , VENDOR
             , DISPLAY_SIZE
             , DELETED
          FROM LAPTOP
         WHERE VENDOR = #{vendor}
           AND DELETED = false
    </sql>
    <insert id="insert" parameterType="persistence.mybatis.entity.Laptop">
        INSERT INTO LAPTOP ( ID
                           , VENDOR
                           , DISPLAY_SIZE
                           , DELETED )
                    VALUES ( nextval('LAPTOP_ID_SEQUENCE')
                           , #{vendor}
                           , #{displaySize}
                           , false )
    </insert>
    <update id="update" parameterType="persistence.mybatis.entity.Laptop">
        UPDATE LAPTOP
           SET VENDOR       = #{vendor}
             , DISPLAY_SIZE = #{displaySize}
         WHERE ID           = #{id}
    </update>
    <delete id="delete" parameterType="string">
        UPDATE LAPTOP
           SET DELETED = true
         WHERE ID      = #{id}
    </delete>
</mapper>